.company tr{
  height: 5rem;
}

.company tr:last-child th{
  border-bottom: #B1B1B1;
}

.company th{
  width: 100px;
  background-color: #B1B1B1;
  color: #fff;
  border-bottom: 1px solid white;
}

.company td{
  width: 560px;
  padding-left: 1rem;
  border: 1px solid black;
}

.company{
  border-collapse: collapse;
}
